#experiences {
      position: relative;
      width: 720px;
      justify-self: center;
      margin: 40px;
    }

    #experiences::before {
      content: "";
      position: absolute;
      left: 12px;
      top: 35px;
      bottom: 0;
      width: 1px;
      background: linear-gradient(to bottom, var(--light-primary-color-text), transparent);
    }

    #experiences h2 {
      font-size: 24px;
      text-transform: uppercase;
      display: flex;
    }

    .title__diamond {
      position: relative;
      width: 24px;
      height: 24px;
      border: 1px solid var(--light-primary-color-text);
      transform: rotate(45deg);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .title__diamond span {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: var(--light-primary-color-text);
    }

    .experiences__title {
      margin-left: 10px;
    }

    #experiences section {
      margin-left: 34px;
    }

    /* ======================= Séparateur ============================ */

    .title__line {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .title__line::after {
      content: "";
      position: absolute;
      left: 5px;
      right: 0;
      width: 180px;
      height: 1px;
      background: linear-gradient(to right , var(--light-primary-color-text), transparent);
    }

    /* ================================================================ */

    #experiences h3 {
      margin-top: 35px;
      font-size: 20px;
      text-transform: uppercase;
    }

    #experiences p {
      margin-top: 10px;
      font-size: 16px;
      line-height: 1.32em;
    }