:root {
    --bg-color: #E0E2E8;
    --green: #36A23E;
    --orange: #FF6633;
    --fushia: #CC0066;
    --main-font: Verdana;
}

body {
    background-color: var(--bg-color);
    font-family: var(--main-font);
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    text-transform: uppercase;
    padding: 5px;
    font-size: 55px;
}

.green {
    color: var(--green);
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-left: solid 1px;
}

.green2 {
    color: var(--green);
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.orange {
    color: var(--orange);
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.orange2 {
    color: var(--orange);
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-right: solid 1px;
}

.fushia {
    color: var(--fushia);
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.image {
    display: flex;
    justify-content: center;
}

p {
    text-align: justify;
    padding: 5px;
}